<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Categorias" tabIcon="list"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Perfil" tabIcon="person"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Carrinho" tabIcon="cart"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="Mais" tabIcon="more"></ion-tab>
</ion-tabs>
