<ion-header>
  <ion-navbar>
    <ion-title>
      Lembretes
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div padding>
    <button ion-button icon-left block color="secondary" (click)="showPrompt()"> 
    <ion-icon name="add"></ion-icon>
      Criar novo lembrete
  </button>
  </div>
  <ion-item-group>
    <ion-item-divider color="light">Pendentes</ion-item-divider>
    <ng-container *ngFor="let todo of todosList">
      <ion-item (click)="presentMenu(todo)" *ngIf="!todo.completed">{{todo.title}}</ion-item>
    </ng-container>
    
    <ion-item-divider color="light">Feitos</ion-item-divider>
    <ng-container *ngFor="let todo of todosList">
      <ion-item (click)="presentMenu(todo)" *ngIf="todo.completed">{{todo.title}}</ion-item>
    </ng-container>
  </ion-item-group>
</ion-content>
