<!--
  Generated template for the CreateUserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>CRIAR CONTA</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<br>
<ion-list>

  <ion-item>
    <ion-input type="text" placeholder="Email" [(ngModel)]="newClient.Email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="text" placeholder="Nome" [(ngModel)]="newClient.FirstName"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="text" placeholder="Sobrenome" [(ngModel)]="newClient.LastName"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="text" placeholder="Documento" [(ngModel)]="newClient.Document"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="text" placeholder="Telefone" [(ngModel)]="newClient.Phone"></ion-input>
  </ion-item>

</ion-list>
<button ion-button block (click)="createNewClient()">CRIAR CONTA</button>
</ion-content>
