<ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<br>
<ion-list>

  <ion-item>
    <ion-input type="text" placeholder="Email" [(ngModel)]="Email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="password" placeholder="Senha" [(ngModel)]="Password"></ion-input>
  </ion-item>

</ion-list>
<button ion-button block (click)="login()">ENTRAR</button>
<br>
<button ion-button block (click)="newClient()" color="secondary">CRIAR NOVA CONTA</button>
</ion-content>
