<div class="todos-container">
    <ul>
        <li class="todo-new"><button (click)="addNewTodo()">Criar novo lembrete</button></li>
        <li *ngFor="let todo of todoList; let i = index;" (click)="toggleStatus(todo)">
            <span class="todo-badge" [ngClass]="{'done' : todo.completed, 'pending' : !todo.completed}"></span>
            <span class="todo-text">{{todo.title}}</span>
            <button (click)="editTodo($event,todo)">Editar</button>
            <button (click)="removeTodo(i)">Remover</button>
        </li>
    </ul>
</div>
