.todos-container ul {
    list-style: none;
    padding: 0px;
}

.todos-container li {
    padding: 20px;
    background-color: rgba(250,250,250,1);
    margin-bottom: 15px;
    cursor: pointer;
}

.todos-container .todo-text {
    margin-right: 30px;
    margin-left: 15px;
}

.todos-container .todo-badge {
    border: 1px #e3e3e3 solid;    
    padding: 5px;
    font-weight: 700;
    color: white;
    border-radius: 5px;
}

.todos-container .pending
{
    background-color: #EA4335;
}

.todos-container .done
{
    background-color: #34A853
}

.todos-container .todo-new 
{
    text-align: center;
}

