<!--
  Generated template for the CategoriesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>CATEGORIAS</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
<ion-list>
  <ion-item>
      Beleza
    <ion-icon name="arrow-forward" item-end></ion-icon>
  </ion-item>
  <ion-item>
      Boa Forma & SPA
    <ion-icon name="arrow-forward" item-end></ion-icon>
  </ion-item>
  <ion-item>
      Cozinha
    <ion-icon name="arrow-forward" item-end></ion-icon>
  </ion-item>
  <ion-item>
      Casa
    <ion-icon name="arrow-forward" item-end></ion-icon>
  </ion-item>
  <ion-item>
      Eletronicos
    <ion-icon name="arrow-forward" item-end></ion-icon>
  </ion-item>
</ion-list>
</ion-content>
